
.current-temp{
    font-size: 3.3rem ;
}

.feel-like{
    line-height: 2.5;
}

.min-temp{
    bottom: 15px ;
    left: 3px;
}

.division{
    bottom: 8px;
    transform: rotate(25deg);
}
.max-temp{
    right: 3px;
}

.bg-purple{
    background-color: #ddccff;// #ccb3ff;
}

.search-button{
    background-color: #362e61;
    border:2px solid #362e61;
    border-radius: 0px 8px 8px  0px;
    border-left: none;
    color: white;
    cursor: pointer;
    padding: 2px;

    
}
.search-button:hover{
    background-color: rgba(54, 46, 97, 0.7);
    border:2px solid rgba(54, 46, 97, 0.7);
    border-left: none;
}
.search-button:active{

    background-color: rgba(54, 46, 97, 0.7);
    border: 3px inset rgba(54, 46, 97, 0.7);
    border-left: none;
    padding: 1px 1px 1px 2px;
}

[type='search']{
    padding: 2px;
}

.welcome{
    margin-top: 20vh;
}
.current-forcast{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 6px rgba(54, 46, 97, 0.7) ;
}

@media screen and (min-width: 576px ) {
    .current-forcast{
        box-shadow: none ;
    }
}